QLabel#Title {
    color: black;
    font-size: 100px;
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

QPushButton {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

QLabel#Credits {
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}





