QMainWindow {
    background-color: #003366;
}

QMenuBar {
    background-color: #002244;
    color: white;
}

QMenuBar::item:selected {
    background-color: #004488;
}

QMenu {
    background-color: #002244;
    color: white;
}

QMenu::item:selected {
    background-color: #004488;
}