QMainWindow {
    background-color: #00A2FF;
}

QMenuBar {
    background-color: #0080CC;
    color: white;
}

QMenuBar::item:selected {
    background-color: #0066AA;
}

QMenu {
    background-color: #0080CC;
    color: white;
}

QMenu::item:selected {
    background-color: #0066AA;
}